# Environment Configuration
ENV=development
LOG_LEVEL=INFO

# File Paths
RAW_DATA_PATH=data/raw/clinical_trials_raw.csv
LOG_FILE_PATH=logs/pipeline.log

# Database Credentials (for Phase 2 onwards)
POSTGRES_USER=pharma_admin
POSTGRES_PASSWORD=pharma_pass
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=pharma_clinical_db
